{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1 class="align-center w-85 m-5 ">Listes des voitures</h1>
    <div  class="d-flex justify-content-center w-85 flex-wrap m-auto " style="height: 100px; ">
        {% for voiture in voitures %}
        <div class="card m-2" style="width: 25rem; height: 750px;">
            <img src="{{ voiture.image }}" class="card-img-top" alt="...">
            <div class="card-body ">
            <h5 class="card-title">{{ voiture.nom | upper }}</h5>
            <p class="card-text h-25 overflow-auto">{{ voiture.nbkm }}</p>
            <p class="card-text h-25 overflow-auto">{{ voiture.createAt | date("d/m/y") }}</p>
            <a href="{{path('app_car', {'id': voiture.id })}}" class="btn btn-primary">En savoir plus</a>
            {# <a href="{{ home('home/show.html.twig', { 'article': article.id }) }}" class="btn btn-primary">En savoir plus</a> #}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
